.showProjects hr {
  margin: 10px 0;
}

.showProjects .comments input {
  width: 100%;
  height: 40px;
  font-size: 0.9em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  padding: 0 10px;
  transition: box-shadow 0.3s ease;
}

.showProjects input::-webkit-input-placeholder {
  color: transparent;
}

.showProjects input:hover {
  box-shadow: 0 0 0 2px black;
}

.showProjects input:focus {
  outline: none;
  box-shadow: 0 0 0 2px black;
}

.showProjects .comments .btn-login {
  width: 100%;
  font-size: 1.1em;
  cursor: pointer;
  box-shadow: none;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1em 0;
}

.comment p {
  font-weight: bold;
}

.comment hr {
  width: 100%;
}

.comment .userProfile #userImage {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  max-height: 70px;
}

@media screen and (max-width: 600px) {
  #photo .container {
    max-width: 80%;
    width: 100%;
    margin: auto;
  }
}

