#projects .container {
  width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}

#projects .container h1 {
  text-align: center;
  font-weight: normal;
}

.showProjects hr {
  margin: 10px 0;
}

.noProjects p {
  text-align: center;
  margin-top: 50px;
}

.noProjects p a {
  color: var(--colorCel);
  text-decoration: none;
}

.noProjects p a:hover {
  color: var(--colorMar);
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  #projects .container {
    max-width: 80%;
    width: 100%;
    margin: auto;
  }
}
