* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

hr {
  border-color: #e9e9e939;
}

.profileImage {
  width: 200px;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.387);
}

:root {
  --colorMar: #1c5174;
  --colorCel: #0a7bcc;
}
